@import '../src/parallax/parallax.scss';

$color-white: #e2eaed;
$color-grey1: #b7cede;
$color-grey2: #98b9d9;
$color-blue1: #79a3cb;
$color-blue2: #4c7ab4;

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: $color-white;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width:100%;
   // height:200vh;
}
.parallax__header {
    height: 85vh;
}
.parallax__middle {
    top: 125px !important;
}

.parallax__front {
    top: 175px !important;
}


.main__container {
    z-index: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #b3b3b3;
}

.main__nav {
    $main-height: 75px;
    background-color: $color-grey1;
    box-shadow: 0 0.5px 0 0 $color-grey1 inset, 0 1px 2px 0 #b3b3b3;
    width: 100%;
    height: $main-height;
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row nowrap;
        list-style: none;
        height: $main-height;
        padding: 0;
        li {
            cursor: pointer;
            font-size: 1.5em;
            font-family: Arial, Helvetica, sans-serif;
            transition: 0.2s ease;
            &:hover {
                transform: translateY(-3px);
            }
        }
    }
}

.first-section{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    .card {
        text-align: center;
        font-size: 1.5em;
        width: 350px;
        margin-top: 25vh;
    }
}

.call_to_action {
            color: $color-white;
            background-color: $color-blue2;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 22px;
            padding: 10px 30px;
            border-radius: 5px;
            border: 1px solid rgba($color: #000000, $alpha: 0.3);
            border-bottom-width: 3px;
            cursor: pointer;
            text-shadow: 0 1px 0 rgba($color: #000000, $alpha: 0.5);

            &:hover {
                background-color: $color-blue1;
            }

            &:active {
                background-color: $color-blue2;
                border-bottom:1px;
            }
        }
