.parallax__container {
        position: relative;
}

 @for $i from 1 through 10 {
     .parallax__child-#{$i} {
        z-index: $i * -1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
     }
 }   

